.clearfix:after { content: " "; display: block; clear: both; }

@font-face { font-family: BlenderProBook; src: url("../font/BlenderPro-BookWeb.eot"); src: url("../font/BlenderPro-BookWeb.woff") format("woff"); }
@font-face { font-family: BlenderProMedium; src: url("../font/BlenderPro-MediumWeb.eot"); src: url("../font/BlenderPro-MediumWeb.woff") format("woff"); }
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { margin: 0; color: white; background: white; font: 22px/30px "BlenderProMedium", "Arial", "Helvetica", sans-serif; min-width: 320px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: none; -webkit-font-smoothing: antialiased; }

* { max-height: 1000000px; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

img { border-style: none; max-width: 100%; height: auto; }

a { text-decoration: none; color: #999999; }
a:hover { text-decoration: underline; color: white; }
a.active { color: white; }

input, textarea, select { font: 17px/18px "BlenderProBook", "Arial", "Helvetica", sans-serif; color: #999999; vertical-align: middle; }

form, fieldset { margin: 0; padding: 0; border-style: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

button { margin: 0; }

button, input[type="button"], input[type="reset"], input[type="file"], input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: 0; cursor: pointer; }

input[type="text"], input[type="tel"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea { margin: 0; padding: 8px 7px; -webkit-appearance: none; -webkit-border-radius: 0; border: 1px solid #6c6c6c; background: transparent; width: 100%; display: block; }
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus { border-color: #6c6c6c; outline: none; }

textarea { overflow: auto; resize: none; vertical-align: top; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

h1, h2, h3, h4, h5, h6 { font-family: "BlenderProMedium", "Arial", "Helvetica", sans-serif; line-height: 1.2em; margin: 0 0 1.2em; font-weight: normal; }

p { margin: 0 0 1.2em; }

q { quotes: none; }
q:before, q:after { content: ''; content: none; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

table { border-collapse: collapse; border-spacing: 0; }

.gm-style img { max-width: none; }

.form-row { margin-bottom: -1px; }
.form-row textarea { height: 110px; }

input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #c5c5c5; }
input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, textarea::-moz-placeholder { opacity: 1; color: #c5c5c5; }
input[type="text"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea:-moz-placeholder { color: #c5c5c5; }
input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #c5c5c5; }
input[type="text"].placeholder, input[type="tel"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="password"].placeholder, input[type="search"].placeholder, textarea.placeholder { color: #c5c5c5; }

.btn-container { margin-top: 25px; }

.btn { background-color: transparent; border: none; color: white; font-family: "BlenderProBook", "Arial", "Helvetica", sans-serif; text-transform: uppercase; font-size: 17px; line-height: 20px; padding: 0; letter-spacing: 2px; }
.btn:hover { color: #999999; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home { width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home { @include sprite-width($icon-home);
}

.icon-email { @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/** fullPage 2.6.6 https://github.com/alvarotrigo/fullPage.js MIT licensed  Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo Contribution by Jhony0311 */
html.fp-enabled, .fp-enabled body { margin: 0; padding: 0; overflow: hidden; /*Avoid flicker on slides transitions for mobile phones #336 */ -webkit-tap-highlight-color: transparent; }

#superContainer { height: 100%; position: relative; /* Touch detection for Windows 8 */ -ms-touch-action: none; /* IE 11 on Windows Phone 8.1*/ touch-action: none; }

.fp-section { position: relative; -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ -moz-box-sizing: border-box; /* <=28 */ box-sizing: border-box; }

.fp-slide { float: left; }

.fp-slide, .fp-slidesContainer { height: 100%; display: block; }

.fp-slides { z-index: 1; height: 100%; overflow: hidden; position: relative; -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */ transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table { display: table; table-layout: fixed; width: 100%; }

.fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }

.fp-slidesContainer { float: left; position: relative; }

.fp-controlArrow { position: absolute; z-index: 4; top: 50%; cursor: pointer; width: 0; height: 0; margin-top: -38px; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.fp-controlArrow.fp-prev { left: 80px; background-image: url(../images/sprite.png); background-position: -52px 0px; width: 18px; height: 29px; }
@media only screen and (max-width: 1240px) { .fp-controlArrow.fp-prev { left: 20px; } }
.fp-controlArrow.fp-next { right: 80px; background-image: url(../images/sprite.png); background-position: -70px 0px; width: 18px; height: 29px; }
@media only screen and (max-width: 1240px) { .fp-controlArrow.fp-next { right: 20px; } }
.fp-controlArrow:hover { opacity: 0.8; }

.fp-scrollable { overflow: scroll; }

.fp-notransition { -webkit-transition: none !important; transition: none !important; }

.fp-slidesNav { position: absolute; z-index: 4; left: 50%; opacity: 1; }
.fp-slidesNav.bottom { bottom: 17px; }
.fp-slidesNav.top { top: 17px; }

#fp-nav ul, .fp-slidesNav ul { margin: 0; padding: 0; }
#fp-nav ul li, .fp-slidesNav ul li { display: block; width: 14px; height: 13px; margin: 7px; position: relative; }
#fp-nav ul li a, .fp-slidesNav ul li a { display: block; position: relative; z-index: 1; width: 100%; height: 100%; cursor: pointer; text-decoration: none; }
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; border-radius: 100%; }
#fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover .fp-slidesNav ul li a.active span { height: 12px; width: 12px; margin: -6px 0 0 -6px; border-radius: 100%; }
#fp-nav ul li a span, .fp-slidesNav ul li a span { border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #333; left: 50%; top: 50%; margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span { width: 10px; height: 10px; margin: -5px 0px 0px -5px; }

#fp-nav { position: fixed; z-index: 100; margin-top: -32px; top: 50%; opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
#fp-nav.right { right: 17px; }
#fp-nav.left { left: 17px; }
#fp-nav ul li .fp-tooltip { position: absolute; top: -2px; color: #fff; font-size: 14px; font-family: arial, helvetica, sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; }
#fp-nav ul li .fp-tooltip.right { right: 20px; }
#fp-nav ul li:hover .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }
#fp-nav.fp-show-active a.active + .fp-tooltip { -webkit-transition: opacity 0.2s ease-in; transition: opacity 0.2s ease-in; width: auto; opacity: 1; }

.fp-slidesNav ul li { display: inline-block; }

.logo-bottom { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background-attachment: fixed; background-position: 5% 89%; background-repeat: no-repeat; background-size: 217px 350px; }
@media screen and (min-width: 1271px) and (max-width: 1440px) { .logo-bottom { background-position: 0.5% 29%; background-size: 110px 177px; } }
@media only screen and (max-width: 1270px) { .logo-bottom { display: none; } }

.logo-bottom-single { position: fixed; left: 67px; bottom: 70px; width: 217px; height: 350px; z-index: 1; background-attachment: scroll; background-position: 0 0; background-repeat: no-repeat; background-size: 217px 350px; }
@media only screen and (max-width: 1570px) { .logo-bottom-single { display: none; } }

.nav-top { position: fixed; left: 0; right: 0; top: 0; z-index: 100; padding: 34px 0 10px; background: #262626; }
@media only screen and (max-width: 900px) { .nav-top { padding: 25px 0; } }
@media only screen and (max-width: 768px) { .nav-top { padding: 15px 0 4px; }
  .nav-top.open { height: 100%; text-align: center; }
  .nav-top.open .nav-items { display: inline-block; padding-top: 115px; }
  .nav-top.open .nav-items a { text-align: left; display: block; margin-right: 0; font-size: 20px; }
  .nav-top.open .nav-items a + a { margin-top: 45px; } }
@media only screen and (max-width: 768px) and (max-width: 767px) { .nav-top.open .nav-items { left: -16px; padding-top: 84px; }
  .nav-top.open .nav-items a { font-size: 16px; line-height: 19px; } }
@media only screen and (max-width: 768px) and (max-height: 320px) { .nav-top.open .nav-items { padding-top: 0; } }
@media only screen and (max-width: 768px) { .nav-top.open .menu-switcher { background-image: url(../images/sprite.png); background-position: 0px -26px; width: 26px; height: 26px; background-color: transparent; }
  .nav-top.open .menu-switcher:after, .nav-top.open .menu-switcher:before { display: none; } }
@media only screen and (max-width: 767px) { .nav-top { padding: 10px 0 4px; }
  .nav-top.open .menu-switcher { left: 3px; top: 17px; background-image: url(../images/sprite.png); background-position: -52px -29px; width: 15px; height: 15px; } }

.nav-items { text-transform: uppercase; font-size: 16px; padding-top: 29px; letter-spacing: 2px; }
.nav-items a { position: relative; margin-right: 64px; }
.nav-items a:before { content: ''; position: absolute; height: 1px; width: 11px; left: 0; top: -21px; background: #999999; }
.nav-items a:hover, .nav-items a.active { text-decoration: underline; }
.nav-items a:hover:before, .nav-items a.active:before { background: white; }
@media only screen and (max-width: 900px) { .nav-items { font-size: 14px; }
  .nav-items a { margin-right: 45px; } }
@media only screen and (max-width: 768px) { .nav-items { position: relative; top: 7px; } }

.logo { overflow: hidden; }
.logo img { width: 195px; max-width: none; }
@media only screen and (max-width: 900px) { .logo { margin-top: 2px; }
  .logo img { width: 150px; } }
@media only screen and (max-width: 768px) { .logo { margin-top: -18px; } }
@media only screen and (max-width: 767px) { .logo { margin-top: -6px; width: 30px; }
  .logo img { width: 104px; } }

.open .logo { visibility: hidden; }

@media only screen and (max-width: 768px) { .nav-container .nav-items { display: none; }
  .nav-container .menu-switcher { display: block; height: 4px; width: 40px; background: #d7d7d7; margin: 15px 0; position: relative; }
  .nav-container .menu-switcher:before, .nav-container .menu-switcher:after { content: ''; position: absolute; left: 0; right: 0; height: 15px; }
  .nav-container .menu-switcher:before { top: 0; border-bottom: 4px solid #d7d7d7; }
  .nav-container .menu-switcher:after { bottom: 0; border-top: 4px solid #d7d7d7; } }
@media only screen and (max-width: 767px) { .nav-container .menu-switcher { height: 1px; width: 20px; margin: 6px 0; top: 13px; }
  .nav-container .menu-switcher:before, .nav-container .menu-switcher:after { height: 6px; }
  .nav-container .menu-switcher:before { border-bottom-width: 1px; }
  .nav-container .menu-switcher:after { border-top-width: 1px; } }

.footer { padding-top: 138px; font-size: 17px; line-height: 21px; }
@media screen and (min-width: 769px) { .footer { position: relative; z-index: 3; } }
.footer .footer-item a { font-family: "BlenderProBook", "Arial", "Helvetica", sans-serif; color: #999999; }
.footer .btn-container { margin: 0; }
.footer .btn-container .btn { color: #999999; text-transform: capitalize; border: 1px solid #6c6c6c; padding: 8px 11px; }
@media only screen and (max-width: 880px) { .footer .logo-footer { float: none; clear: left; padding-top: 30px; padding-bottom: 20px; display: block; } }
@media only screen and (max-width: 768px) { .footer .logo-footer { text-align: center; } }
@media only screen and (max-width: 768px) { .footer { padding: 0 10px; } }
.section-inner + .footer { padding: 88px 0; }
@media only screen and (max-width: 767px) { .footer .logo { width: 194px; height: auto; float: none; margin: 40px 10px 28px; display: inline-block; }
  .footer .logo img { width: 100%; }
  .footer .logo:after { content: " "; display: block; clear: both; } }

.footer-address { font-style: normal; }
.footer-address .block + .block { margin-top: 10px; }
@media only screen and (max-width: 768px) { .footer-address { margin-top: 40px; } }

.social-links { margin-left: 8%; padding-left: 2px; }
.social-links li + li { margin-top: 7px; }

.social-list { list-style: none; padding: 0; }

.subscribe-block { width: 198px; margin-left: 12%; padding-left: 3px; }

.footer-form { margin-top: -5px; display: block; }
.footer-form input[type="text"]::-webkit-input-placeholder, .footer-form input[type="tel"]::-webkit-input-placeholder, .footer-form input[type="email"]::-webkit-input-placeholder, .footer-form input[type="url"]::-webkit-input-placeholder, .footer-form input[type="password"]::-webkit-input-placeholder, .footer-form input[type="search"]::-webkit-input-placeholder, .footer-form textarea::-webkit-input-placeholder { color: #999999; }
.footer-form input[type="text"]::-moz-placeholder, .footer-form input[type="tel"]::-moz-placeholder, .footer-form input[type="email"]::-moz-placeholder, .footer-form input[type="url"]::-moz-placeholder, .footer-form input[type="password"]::-moz-placeholder, .footer-form input[type="search"]::-moz-placeholder, .footer-form textarea::-moz-placeholder { opacity: 1; color: #999999; }
.footer-form input[type="text"]:-moz-placeholder, .footer-form input[type="tel"]:-moz-placeholder, .footer-form input[type="email"]:-moz-placeholder, .footer-form input[type="url"]:-moz-placeholder, .footer-form input[type="password"]:-moz-placeholder, .footer-form input[type="search"]:-moz-placeholder, .footer-form textarea:-moz-placeholder { color: #999999; }
.footer-form input[type="text"]:-ms-input-placeholder, .footer-form input[type="tel"]:-ms-input-placeholder, .footer-form input[type="email"]:-ms-input-placeholder, .footer-form input[type="url"]:-ms-input-placeholder, .footer-form input[type="password"]:-ms-input-placeholder, .footer-form input[type="search"]:-ms-input-placeholder, .footer-form textarea:-ms-input-placeholder { color: #999999; }
.footer-form input[type="text"].placeholder, .footer-form input[type="tel"].placeholder, .footer-form input[type="email"].placeholder, .footer-form input[type="url"].placeholder, .footer-form input[type="password"].placeholder, .footer-form input[type="search"].placeholder, .footer-form textarea.placeholder { color: #999999; }
.footer-form .btn { letter-spacing: 0; }
.footer-form .btn:hover { color: white; }
.footer-form .form-row input { padding: 9px 7px; }

.footer-item { position: relative; }
.footer-item:before { content: ''; position: absolute; width: 17px; height: 2px; background: white; top: -20px; left: 1px; }
.footer-item h3 { font-size: 17px; line-height: 21px; margin-bottom: 17px; }
@media only screen and (max-width: 768px) { .footer-item { margin-left: 0; width: 100%; }
  .footer-item + .footer-item { margin-top: 50px; } }
@media only screen and (max-width: 767px) { .footer-item + .footer-item { margin-top: 65px; } }

.pull-left { float: left; }

.pull-right { float: right; }

.content-center { max-width: 1000px; margin: 0 auto; padding: 0 20px; }
.content-center> a{text-decoration: none !important;}
.content-center> a:hover{text-decoration: underline !important;}
@media only screen and (max-width: 768px) { .fp-section { padding-top: 25px; } }
@media only screen and (max-width: 767px) { .fp-section { padding-top: 20px; } }
@media only screen and (max-width: 800px) { .fp-section { height: auto !important; overflow: hidden; } }

.content-section, .content-section-inner { padding-top: 138px; }
.content-section h2, .content-section-inner h2 { text-transform: uppercase; margin: 35px 0 50px; position: relative; font-size: 28px; letter-spacing: 2px; }
.content-section h2:before, .content-section-inner h2:before { content: ''; position: absolute; width: 21px; height: 2px; background: black; top: -30px; left: 0; }
.content-section> a, .content-section-inner> a{text-decoration: underline;}
.content-section> a:hover, .content-section-inner> a:hover{text-decoration: none;}
@media only screen and (max-width: 767px) { .content-section h2, .content-section-inner h2 { margin-bottom: 25px; } }

.content-section { width: 50%; height: 100%; }
@media only screen and (max-width: 800px) { .content-section { padding-top: 40px; } }
@media only screen and (max-width: 768px) { .content-section { width: 100%; height: auto; padding-top: 25px; padding-bottom: 20px; } }
.content-section .inner-nav { margin-right: 230px; }
@media only screen and (max-width: 767px) { .content-section .inner-nav { margin: 0 0 1px; } }
.content-section .section-inner { width: 480px; }
@media only screen and (max-width: 1025px) { .content-section .section-inner { width: auto; padding: 0 20px; float: none; } }
@media only screen and (max-width: 768px) { .content-section .section-inner { padding: 0 30px; } }

.content-section-inner.narrow { width: 38%; }
@media only screen and (max-width: 1400px) { .content-section-inner.narrow { width: 33.5%; } }
.content-section-inner.wide { width: 62%; z-index: 3; position: relative; }
@media only screen and (max-width: 1400px) { .content-section-inner.wide { width: 66.5%; } }
.content-section-inner .inner-nav { width: 210px; }
@media only screen and (max-width: 768px) { .content-section-inner.narrow, .content-section-inner.wide { width: auto; float: none; }
  .content-section-inner.narrow { padding: 0; position: relative; z-index: 4; }
  .content-section-inner.wide { padding-top: 180px; } }
@media only screen and (max-width: 768px) { .content-section-inner.wide { padding-top: 138px; } }
@media only screen and (max-width: 767px) { .content-section-inner.wide { padding-top: 121px; } }

.section-inner { position: relative; z-index: 3; min-height: 100px; }

.light-black-bg { background-color: #262626; }

.black-bg { background-color: black; }

.light-grey-bg { background-color: #454545; }

.black-bg a, .light-grey-bg a, .light-black-bg a { color: white; }
.black-bg h2:before, .light-grey-bg h2:before, .light-black-bg h2:before { background: white; }

.light-bg { background-color: white; color: black; }
.light-bg h2, .light-bg a { color: black; }
.light-bg .content-section-text h2:before { background-color: black; }
.light-bg .intro-text:before { background: black; }

.inner-nav-fixed { position: fixed; top: 138px; left: 0; right: 0; height: 0; overflow: visible; z-index: 2; }
@media only screen and (max-width: 768px) { .inner-nav-fixed { height: 77px; background: #f7f7f7; top: 77px; }
  .inner-nav-fixed h2 { margin: 0; line-height: 77px; font-size: 24px; color: #999999; padding-left: 60px; }
  .inner-nav-fixed .inner-nav { display: none; } }
@media only screen and (max-width: 767px) { .inner-nav-fixed { top: 59px; height: 41px; }
  .inner-nav-fixed h2 { font-size: 12px; line-height: 33px; padding: 6px 0 0 37px; } }

.inner-nav { font-size: 17px; line-height: 29px; }
.inner-nav .divider { margin-right: 7px; }
.inner-nav a {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 5px;
	clear: both;
}
.inner-nav a:hover { text-decoration: underline; }
@media only screen and (max-width: 1025px) { .inner-nav { margin-right: 150px; } }
@media only screen and (max-width: 768px) { .inner-nav { margin-right: 0; } }
@media only screen and (max-width: 767px) { .inner-nav { font-size: 14px; line-height: 18px; } }

.inner-mobile-nav { display: none; font-size: 18px; line-height: 26px; }
.open .inner-mobile-nav { display: block; }
.inner-mobile-nav a { color: #999999; }
.inner-mobile-nav a:hover { color: #000000; text-decoration: none; }
@media only screen and (max-width: 768px) { .inner-mobile-nav { margin: 0 -20px; padding: 0 20px 20px; background: #f7f7f7; }
  .inner-mobile-nav ul { padding: 0 0 0 60px; margin: 0; list-style: none; display: inline-block; } }
@media only screen and (max-width: 767px) { .inner-mobile-nav { font-size: 14px; line-height: 23px; padding-bottom: 16px; }
  .inner-mobile-nav ul { padding: 4px 0px 0px 36px; } }
@media screen and (max-height: 320px) { .inner-mobile-nav { line-height: 17px; } }

.inner-menu-switcher { position: absolute; height: 4px; width: 40px; background: #999999; margin: 0 0 15px; top: 29px; left: 20px; display: none; }
.inner-menu-switcher:before { content: ''; position: absolute; left: 0; right: 0; height: 15px; }
.inner-menu-switcher:before { top: 0; border-bottom: 4px solid #999999; }
@media only screen and (max-width: 768px) { .inner-menu-switcher { display: block; }
  .open .inner-menu-switcher { background-image: url(../images/sprite.png); background-position: -26px 0px; width: 26px; height: 26px; background-color: transparent; left: 22px; top: 24px; }
  .open .inner-menu-switcher:after, .open .inner-menu-switcher:before { display: none; } }
@media only screen and (max-width: 767px) { .inner-menu-switcher { width: 20px; height: 1px; top: 18px; }
  .inner-menu-switcher:before { border-bottom-width: 1px; height: 7px; }
  .open .inner-menu-switcher { background-image: url(../images/sprite.png); background-position: -70px -29px; width: 15px; height: 15px; left: 22px; top: 14px; } }

.intro-text { position: relative; margin: 27px 0 0 82px; max-width: 540px; }
.intro-text:before { content: ''; position: absolute; width: 21px; height: 2px; background: white; top: -22px; left: 0; }
@media only screen and (max-width: 1025px) { .intro-text { margin: 27px 20px; } }
@media only screen and (max-width: 768px) { .intro-text { font-size: 20px; line-height: 26px; padding: 0 30px; margin: 27px 0 0; max-width: none; }
  .intro-text:before { left: 30px; } }
@media only screen and (max-width: 767px) { .intro-text { font-size: 18px; line-height: 24px; } }
@media only screen and (max-width: 767px) { .intro-text { margin: 21px 0 0; } }

.single-image { margin: 76px 0 0; }
@media only screen and (max-width: 768px) { .single-image { margin: 20px 0 -20px; } }
.single-image img { display: block; width: 100%; }

.content-section-text { padding: 0 0 30px 80px; width: 850px; position: relative; }
.content-section-text h2 { margin-bottom: 49px; }
@media only screen and (max-width: 767px) { .content-section-text h2 { margin-bottom: 13px; } }
.content-section-text .scroll-top { position: absolute; background-image: url(../images/sprite.png); background-position: 0px -26px; width: 26px; height: 26px; right: 1px; top: -30px; }
.content-section-text .scroll-top:hover { opacity: 0.8; }
@media only screen and (max-width: 768px) { .content-section-text .scroll-top { top: 0; } }
.content-section-text .includes { width: 233px; margin-top: 2px; }
.content-section-text .includes h3 { text-transform: uppercase; font-size: 22px; line-height: 30px; margin-bottom: 6px; }
@media only screen and (max-width: 767px) { .content-section-text .includes h3 { margin-bottom: 6px; } }
.content-section-text .includes .block { color: #cccccc; font: 18px/24px "BlenderProBook", "Arial", "Helvetica", sans-serif; position: relative; }
.content-section-text .includes .block + .block { margin-top: 24px; }
.content-section-text .includes .block + .block:before { content: ''; position: absolute; background: #cccccc; width: 9px; height: 1px; left: 0; top: -13px; }
@media only screen and (max-width: 767px) { .content-section-text .includes .block + .block { margin-top: 20px; }
  .content-section-text .includes .block + .block:before { width: 5px; top: -9px; } }
@media only screen and (max-width: 767px) { .content-section-text .includes .block { font-size: 14px; line-height: 20px; } }
.content-section-text .description { float: left; max-width: 470px; }
@media only screen and (max-width: 1400px) { .content-section-text { width: auto; padding-right: 125px; padding-left: 79px; }
  .content-section-text .scroll-top { right: 40px; } }
@media only screen and (max-width: 1300px) { .content-section-text .description { max-width: none; float: none; }
  .content-section-text .includes { float: none; margin-top: 20px; width: auto; } }
@media only screen and (max-width: 768px) { .content-section-text { padding-left: 20px; }
  .content-section-text .description { font-size: 20px; line-height: 28px; } }
@media only screen and (max-width: 767px) { .content-section-text { padding: 0 20px 17px 30px; }
  .content-section-text .description { font-size: 18px; line-height: 24px; } }

.inner-page-images .image-holder { height: 550px; -webkit-background-size: cover; background-size: cover; background-position: center center; }
.inner-page-images .image-holder + .image-holder { margin-top: 1px; }
@media only screen and (max-width: 1400px) { .inner-page-images .image-holder { height: 500px; } }
@media only screen and (max-width: 1300px) { .inner-page-images .image-holder { height: 400px; } }
.inner-page-images .inner-slider-points { display: none; }
.inner-page-images .inner-slider-points ul { padding: 0; font-size: 0; }
.inner-page-images .inner-slider-points ul li { display: inline-block; width: 25px; height: 3px; background: #ffffff; opacity: 0.4; cursor: pointer; }
.inner-page-images .inner-slider-points ul li + li { margin-left: 3px; }
.inner-page-images .inner-slider-points ul li.active { opacity: 1; cursor: default; }
@media only screen and (max-width: 768px) { .inner-page-images .inner-slider-points { display: block; position: absolute; bottom: 16px; left: 0; right: 0; text-align: center; z-index: 4; } }
@media only screen and (max-width: 768px) { .inner-page-images { height: 300px; position: relative; overflow: hidden; }
  .inner-page-images .image-holder { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }
  .inner-page-images .image-holder + .image-holder { margin-top: 0; z-index: 0; }
  .inner-page-images .image-holder.active { z-index: 3; } }
@media only screen and (max-width: 767px) { .inner-page-images { height: 220px; } }

.scroll-holder + .scroll-holder { margin-top: 76px; }

.inner-intro-text { margin-bottom: 35px; }
@media only screen and (max-width: 767px) { .inner-intro-text { font-size: 18px; line-height: 24px; } }

.about-us .owner-bg { background-image: url("../images/about-index.jpg"); background-repeat: no-repeat; background-position: left bottom; }
@media only screen and (max-width: 800px) { .about-us .owner-bg { background-image: none; } }
@media only screen and (max-width: 1280px) { .about-us .owner-bg { background-position: 0 100%; background-size: cover; } }
@media only screen and (max-width: 768px) { .about-us .owner-bg { background-image: url("../images/about-index-small.jpg"); padding-bottom: 250px; background-size: 100% auto; background-position: left top; } }
@media only screen and (max-width: 480px) { .about-us .owner-bg { background-position: left bottom; } }

.about-us-page .description { font-size: 18px; line-height: 24px; }
.about-us-page .description h3 { text-transform: uppercase; font-size: 22px; line-height: 30px; margin-bottom: 10px; }
.about-us-page .includes .block { color: #000000; list-style: none; padding: 0; }
.about-us-page .scroll-holder:first-child .content-section-text { padding-bottom: 194px; }
@media only screen and (max-width: 767px) { .about-us-page .scroll-holder:first-child .content-section-text { padding-bottom: 14px; } }
.about-us-page .team-bg { background: #e8e7e7; position: relative; }
.about-us-page .team-bg:before { content: ''; position: absolute; background: #e8e7e7; left: 0; bottom: 100%; right: 0; height: 165px; }
@media only screen and (max-width: 767px) { .about-us-page .team-bg:before { height: 75px; } }
.about-us-page .scroll-top { background-image: url(../images/sprite.png); background-position: 0px 0px; width: 26px; height: 26px; }
.about-us-page .image-holder { height: auto; }
.about-us-page .image-holder img { display: block; width: 100%; }
.about-us-page .inner-page-images { height: auto; }
.about-us-page .inner-page-images .image-holder { position: static; }

.workers-block { display: table; }
.workers-block .worker { display: table-row; font-size: 14px; line-height: 18px; }
.workers-block .worker img { width: 100%; display: block; }
.workers-block .worker h3 { font-size: 22px; line-height: 20px; text-transform: uppercase; margin-bottom: 2px; }
.workers-block .worker h4 { font-size: 15px; text-transform: uppercase; margin-bottom: 12px; }
.workers-block .worker + .worker .item { border-top: 1px solid #e8e7e7; }
@media only screen and (max-width: 767px) { .workers-block .worker + .worker .item { border: none; } }
.workers-block .text-content { padding: 40px 60px; }
@media only screen and (max-width: 768px) { .workers-block .text-content { padding: 20px 20px; } }
.workers-block .item { display: table-cell; width: 50%; height: 100%; vertical-align: top; }
.workers-block .item + .item { border-left: 1px solid #e8e7e7; }
@media only screen and (max-width: 767px) { .workers-block .item { display: block; width: auto; }
  .workers-block .item img { display: none; } }
.workers-block .light-black-bg { background: #454545; color: #ffffff; }

.contact .map-bg, .contact-page .map-bg { background-image: url("../images/contact-index.jpg"); }
@media only screen and (max-width: 800px) { .contact .map-bg, .contact-page .map-bg { display: none; } }
.contact .contact-info, .contact-page .contact-info { color: #999999; font-family: BlenderProBook; font-style: normal; font-size: 17px; line-height: 21px; margin-top: 36px; }
.contact .contact-info .block + .block, .contact-page .contact-info .block + .block { margin-top: 10px; }
@media only screen and (max-width: 800px) { .contact .contact-info, .contact-page .contact-info { padding-bottom: 20px; } }
.contact .contact-form, .contact-page .contact-form { padding: 30px 30px 20px 0; display: none; }
@media only screen and (max-width: 768px) { .contact .contact-form, .contact-page .contact-form { padding: 30px 30px 20px; margin: 0 -30px -20px; background-color: #262626; } }

@media only screen and (max-width: 767px) { .contact-page .contact-info { font-size: 14px; line-height: 19px; margin-top: 8px; } }

.contact-map-inner { height: 430px; background-size: cover; background-image: url("../images/contact-inner.jpg"); background-position: left center; margin-top: 20px; }
@media only screen and (max-width: 768px) { .contact-map-inner { margin-top: 0; height: 360px; } }
@media only screen and (max-width: 767px) { .contact-map-inner { height: 260px; background-size: auto; background-position: -150px -150px; } }

.contact-page .form-row input { width: 194px; padding: 9px 15px; line-height: 18px; height: 38px; }
.contact-page .form-row textarea { width: 342px; margin-left: -1px; height: 112px; padding: 9px 15px; }
.contact-page .social-links { width: 205px; margin: -5px 0 0; }
.contact-page .social-links h3 { font-size: 17px; line-height: 21px; margin-bottom: 13px; }
.contact-page .social-links a { font-family: 'BlenderProBook', 'Arial', 'Helvetica', sans-serif; color: #999999; font-size: 17px; }
.contact-page .social-links ul { margin: 0; line-height: 26px; }
.contact-page .social-links li + li { margin-top: 0; }
@media only screen and (max-width: 1100px) { .contact-page .social-links { display: none; } }
.contact-page .content-section-text h2 { margin-bottom: 58px; }
@media only screen and (max-width: 768px) { .contact-page .content-section-text { padding-top: 20px; } }
.contact-page .form-container { width: 535px; }
.contact-page .form-container .btn-container { margin: 0; padding-top: 19px; clear: left; }
@media only screen and (max-width: 1350px) { .contact-page .form-container { width: 400px; }
  .contact-page .form-container .pull-left { float: none; }
  .contact-page .form-container .form-row input, .contact-page .form-container .form-row textarea { width: 100%; }
  .contact-page .form-container .form-row textarea { margin-left: 0; } }
@media only screen and (max-width: 768px) { .contact-page .form-container { width: auto; } }
@media only screen and (max-width: 768px) { .contact-page .inner-nav-fixed { position: static; height: auto; background: black; padding-top: 117px; }
  .contact-page .inner-nav-fixed h2 { margin: 35px 0 50px; line-height: normal; font-size: 28px; color: #fff; padding-left: 0; } }
@media only screen and (max-width: 768px) and (max-width: 767px) { .contact-page .inner-nav-fixed h2 { margin-bottom: 27px; } }
@media only screen and (max-width: 768px) { .contact-page .inner-nav-fixed .inner-nav { display: none; } }
@media only screen and (max-width: 767px) { .contact-page .inner-nav-fixed { padding-top: 75px; } }
@media only screen and (max-width: 768px) { .contact-page .narrow .section-inner { float: none; } }
@media only screen and (max-width: 768px) { .contact-page .wide { padding-top: 0; } }
@media only screen and (max-width: 900px) { .contact-page + .footer { padding: 60px 0 0; } }
@media only screen and (max-width: 768px) { .contact-page + .footer { padding-top: 0; } }

.services .inner-nav { margin-right: 95px; }
@media only screen and (max-width: 768px) { .services .inner-nav { margin-right: 0; } }

.services-page .includes .block { color: #cccccc; list-style: none; margin-top: 0; padding: 0; }
.services-page .includes .block li { padding-top: 5px; }
.services-page .includes .block li:first-child { padding-top: 0; }
.services-page .includes .block a { color: #cccccc; }
.services-page .inner-intro-text { margin-bottom: 50px; line-height: 28px; letter-spacing: -1px; }
@media only screen and (max-width: 1025px) { .services-page .inner-intro-text { letter-spacing: normal; } }
.services-page .columned-info .includes { width: 33.3%; }
@media only screen and (max-width: 1300px) { .services-page .columned-info .includes { width: auto; } }
.services-page .columned-info .includes + .includes { padding-left: 55px; }
@media only screen and (max-width: 1300px) { .services-page .columned-info .includes + .includes { padding-left: 0; } }
@media only screen and (max-width: 767px) { .services-page .content-section-text h2 { max-width: 240px; } }
.services-page + .footer { padding: 60px 0 20px; }

.slider-top { background: #262626; }
@media only screen and (max-width: 800px) { .slider-top { padding: 140px 0 50px; } }
@media only screen and (max-width: 767px) { .slider-top { padding: 90px 0 41px; } }

.slider-content { max-width: 884px; margin: 0 auto; }
.slider-content p { font-size: 30px; line-height: 38px; margin: 0; }
@media only screen and (max-width: 900px) { .slider-content p { font-size: 26px; } }
@media only screen and (max-width: 768px) { .slider-content p { font-size: 22px; } }
@media only screen and (max-width: 767px) { .slider-content p { font-size: 18px; line-height: 24px; } }
@media only screen and (max-width: 1140px) { .slider-content { padding: 0 80px; } }
@media only screen and (max-width: 768px) { .slider-content { padding: 0 45px; } }

@media only screen and (max-width: 800px) { .fp-slides { height: auto; padding-top: 75px; } }
@media only screen and (max-width: 767px) { .fp-slides { padding: 0; } }

@media only screen and (max-width: 800px) { .fp-controlArrow { display: none; } }

.slider-points { overflow: hidden; font-size: 0; text-align: center; padding: 0 0 56px; margin-top: 20px; display: none; }
.slider-points li { display: inline-block; width: 25px; height: 3px; background: #4f4f4f; cursor: pointer; }
.slider-points li.active { background: #ffffff; }
.slider-points li + li { margin-left: 4px; }
@media only screen and (max-width: 800px) { .slider-points { display: block; } }
@media only screen and (max-width: 767px) { .slider-points { margin-top: 30px; padding-bottom: 0; } }
